extends ./layouts/default.pug

block title
	| BuildStore's hottest winter news

block description
	| 

block main
	- var month = 'January 2023';
	- var digestNumber = '1';
	- var preText = 'Anticipated updates and mind-blowing novelties in one digest';
	- var greeting = 'Hey, [UserName]';
	- var emailBody = `This winter BuildStore became better, more advanced, and more diverse. We gathered for you some exciting updates of the service over the past season. And there's more to come!`;

	- var linkBtnAllUpdates = 'http://bit.ly/3INrmpz';
	- var linkBtnNewApps = 'http://bit.ly/3INrmpz';
	- var linkBtnGoToBuildStore = 'http://bit.ly/3INrmpz';

	- var bottomText = `That's it for this time. And while we're preparing a new roundup for you, enjoy your BuildStore!`;

	include ./includes/arrayAppsUpdates
	include ./includes/arrayAppsNew
	include ./includes/objectMostPopulatApp
	container
		//- -------------------------  HEADER ------------------------
		.header__wrapper
			img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/4d3de482-b871-b61b-34fa-7a9d12f0554d.jpeg")
			//row
			//	columns.header
					//spacer(size=32)
					//row
					//	columns(small='6')
					//		a(href= 'https://builds.io')
					//			img(
					//				src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/bcfbc30b-fb16-0e41-9005-23e317709480.png"
					//				alt='logo'
					//				width=101
					//				height=17
					//			)
					//	columns(small='6')
					//		include includes/social_list

					//spacer(size=19)
					//row
					//	columns
					//		.header__subtitle= month
					//spacer(size=7)
					//row
					//	columns.header__title__wrapper
					//		h1.header__title Digest #
					//			span= digestNumber
					//row
					//	columns
					//		.header__descr= preText

		.mail_container
			//- -------------------------  FIRST PARAGRAPH ------------------------
			spacer(size=32)
			row
				columns
					.blueParagraph
						h6= greeting
						p= emailBody

			//- -------------------------  TOP NEWS ------------------------
			//spacer(size=28)
			//row
			//	columns
			//		h5.text-center Top news!
			//
			//row
			//	columns
			//		.blueParagraph
			//			h6 BuildStore now supports iPhone 18!
			//			p We&nbsp;worked so&nbsp;hard to&nbsp;update the system, and now you can finally enjoy&nbsp;it!
			//
			//spacer(size='4')
			//row
			//	columns
			//		.blueParagraph
			//			h6 BuildStore now supports iPhone 18!
			//			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			//- -------------------------  APP UPDATES ------------------------
			table.appUpdates__wrapper
				tr
					td
						spacer(size=28)
						row
							columns
								h5.text-center Apps Updates

			include includes/app-card

			wrapper
				each appLine in appsUpdates
					each app in appLine
						.appCard__wrapper
							+appCard(app.title, app.version, app.trumb, app.link)

			spacer(size=26)
			row
				columns
					center
						//- button SEE ALL UPDATES
						a(href= linkBtnAllUpdates).img_button
							img(
								src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/6fe15517-5117-c915-48ad-008779407549.png'
								width=214
								height=48
							).img_button
						//-button
						//-	a.button.large(href= linkBtnAllUpdates) SEE ALL UPDATES

			//- -------------------------  NEW APP ------------------------
			table.newApp__wrapper
				tr
					td
						spacer(size=22)
						row
							columns
								h5.text-center New Apps

			wrapper
				each appLine in appsNew
					each app in appLine
						.appCard__wrapper
							+appCard(app.title, app.version, app.trumb, app.link)

			spacer(size=26)
			row
				columns
					center
						//- button SEE ALL NEW APPS
						a(href= linkBtnNewApps).img_button
							img(
								src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/183083e1-8dc7-05fa-75ac-ce5dfc2d7a76.png'
								width=214
								height=48
							).img_button
						//-button
						//-	a.button.large(href= linkBtnNewApps) SEE ALL NEW APPS

			//- ---------------------  Most popular newcomer! --------------------
			spacer(size=24)
			row
				columns
					h5.text-center Most popular newcomer!

			spacer(size=2)
			row
				columns
					a(href= mostPopularApp.link).popular
						spacer(size=30)
						wrapper
							.popular__img(style='background-image: url(https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/d16d9221-a5e8-9f2a-c7df-b39570a4198c.png)')
								| &nbsp;
							.popular__inner
								wrapper
									h6.popular__title= mostPopularApp.title
									.popular__version Version&nbsp;
										span= mostPopularApp.version

								row
									columns(small=12).pb-0
										p.popular__descr= mostPopularApp.description
								spacer(size=20)



			//- -------------------------  OFFER ------------------------
			spacer(size=29)
			row
				columns
					p.text-center= bottomText

			spacer(size=21)
			row
				columns
					center
						//- button GO TO BUILDSTORE
						a(href= linkBtnGoToBuildStore).img_button
							img(
								src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/6169399f-52c5-c2df-9279-1171b9cd8fae.png'
								width=214
								height=48
							).img_button
						//- button
						//-	a.button.large(href= linkBtnGoToBuildStore) GO TO BUILDSTORE

			spacer(size=13)
			row
				columns
					p.text-center Best,
						br
						| BuildStore team
			spacer(size=21)

		//- -------------------------  FOOTER ------------------------
		.mail_container.footer__wrapper
			table
				tr
					td
						spacer(size=18)
						row
							columns(small='6' valign='middle')
								.footer__left
									| © BuildStore 2022
							columns(small='6' valign='middle')
								include includes/social_list
						spacer(size=5)